

/* Media Query */
@media (max-width: 991px) {
  .contact-details{
    grid-template-columns: 1fr
  }
}

@media (max-width: 790px) {
  .contact-heading h2{
   font-size: 40px;
  }

  .name-email{
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 470px) {
  .contact-heading h2{
   font-size: 30px;
  }
}

@media (max-width: 415px) {
  .contact-details, .contact-me, .contact-form{
    padding: 20px;
    overflow-x: hidden;
    
  }

  .contact-heading h2{
   font-size: 24px;
  }
  
  .name-email{
    overflow-x: hidden;
  }
}
